---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=<TOMTOM_API_KEY>&lat=-72.51026759229083&lon=106.89253539768276
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 888a9988-a37b-4073-af2e-0ee0fea7391c
      X-Tomtom-Processed-By:
      - westus2
      X-Tomtom-Message-Id:
      - 908653ab-8937-441e-9a1a-15fcdbcd7cd5
      X-Tomtom-Upstream-Service-Time:
      - '33'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":18,"numResults":0,"offset":0,"totalResults":0,"fuzzyLevel":2,"geoBias":{"lat":-72.51026759229083,"lon":106.89253539768276}},"results":[]}'
  recorded_at: Fri, 17 May 2024 01:18:39 GMT
recorded_with: VCR 6.2.0
